@{
    Layout = "/Areas/Admin/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}
@section Styles{ 
<style>
    .dashboard {
        position: absolute;
        top: 44%;
        left: 62%;
        transform: translate(-50%,-50%);
    }
        .dashboard h2 {
            font-size: 150px;
            color: #333;
        }
        .dashboard span {
            color: #ffc107;
        }
</style>
}
<div class="row">
    <div class="dashboard">
        <h2>سبورتيجا </h2>
        <span>
            ‏سبورتيجا تهتم بالاخبار الرياضيه الحصريه العالميه والمصريه علي حد سواء
        </span>
    </div>
</div>