@{
    Layout = "/Areas/Admin/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}
@section Styles{ 
<style>

    .dashboarrd{
        text-align:center;
    }
    .dashboarrd h2 {
        font-size: 50px;
        color: #333;
    }
        .dashboarrd span {
            color: #ffc107;
        }
</style>
}
<div class="">
    <div class="dashboarrd">
        <h2>سبورتيجا </h2>
        <span>
            ‏سبورتيجا تهتم بالاخبار الرياضيه الحصريه العالميه والمصريه علي حد سواء
        </span>
    </div>
</div>