
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Messages</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="jsGrid1" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                    <table class="table table-bordered" id="tbldata">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ContactUS)
                            {
                                    <tr>
                                
                                        <td><a href="/Admin/ContactUS/Message/@item.Id">@item.Name</a></td>
                                        <td>@item.Email</td>
                                        <td>@item.Message</td>
                                        <td>@item.Subject</td>
                                    </tr>

                            }


                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    <!-- /.card -->
    </div>
</section>